name: test generate-metadata-action

on:
  push:
    paths-ignore:
      - 'README.md'
      - LICENSE

jobs:
  action-test-default:
    runs-on: ubuntu-latest
    outputs:
      filepath: ${{ steps.action-run.outputs.filepath }}
    steps:
      - name: 'Checkout directory'
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - name: Generate metadata file
        id: generate_metadata
        uses: ./
        with:
          repository: ${{ github.event.repository.name }}
          version: make -f tests/Makefile version
          product: ${{ github.event.repository.name }}

      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce #v3.1.2
        with:
          name: metadata.json
          path: ${{ steps.generate_metadata.outputs.filepath }}
          
  action-test-provide-sha:
    runs-on: ubuntu-latest
    outputs:
      filepath: ${{ steps.action-run.outputs.filepath }}
    steps:
      - name: 'Checkout directory'
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b #v4.1.5
      - name: Generate metadata file
        id: generate_metadata
        uses: ./
        with:
          repository: ${{ github.event.repository.name }}
          version: make -f tests/Makefile version
          product: ${{ github.event.repository.name }}
          sha: "6064764fb6b6213724fa55ce0fe737362ab97a12"
          metadataFileName: "metadata-sha-test.json"

      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce #v3.1.2
        with:
          name: metadata-sha-test.json
          path: ${{ steps.generate_metadata.outputs.filepath }}
